.bg-indigo-50 {
  background-color: #eef2ff;
}
.clontainer {
  margin: auto; /* Centers the container horizontally (m-auto) */
  max-width: 42rem; /* Tailwind's max-w-2xl = 672px (42rem) */
  padding-top: 6rem; /* py-24 = 96px (24 * 4px) */
  padding-bottom: 6rem; /* py-24 = 96px */
}
.boxx {
  background-color: white; /* bg-white */
  padding: 2rem 1.5rem; /* py-8 (32px) px-6 (24px) */
  margin: 1rem; /* m-4 (16px) for small screens */
  margin-bottom: 1rem; /* mb-4 (16px) */
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid #e5e7eb; /* Tailwind's default border color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}
.mb-4 {
  margin-bottom: 1rem;
}
.labelstyle {
  display: block;
  color: #4a5568; /* gray-700 */
  font-weight: bold;
  margin-bottom: 0.5rem; /* 8px */
}
.addjobheading {
  font-size: 1.875rem; /* text-3xl */
  text-align: center; /* text-center */
  font-weight: 600; /* font-semibold */
  margin-bottom: 1.5rem; /* mb-6 */
}
.selectt {
  border: 1px solid;
  border-radius: 0.25rem; /* 4px */
  width: 100%;
  padding: 0.5rem 0.75rem; /* top-bottom | left-right */
}

.companyinfoh {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 1.25rem; /* 20px */
}
.companyButton {
  background-color: #6366f1; /* indigo-500 */
  color: white;
  font-weight: bold;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  border-radius: 9999px; /* rounded-full */
  width: 100%; /* w-full */
  /* outline: none; focus:outline-none  */
  border: none;
}
.companyButton:hover {
  background-color: #4f46e5; /* indigo-600 */
}
.companybutton:focus {
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
  /* focus: shadow-outline; */
}
