nav{
    background-color: blue;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

nav h1{
    margin-left: 5px;
    color: white;
}

.Nav_list{
    margin-left: 60%;
}

.Nav_list li{
    display: inline-block;
}

.Nav_list a{
    padding-left: 20px;
    color: white;
    font-size: 14pt;
    text-decoration: none;
    padding: 10px;
}

.Nav_list a:hover{
    background-color: black;
    border-radius: 10%;
}
