nav {
  background-color: blue;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

nav h1 {
  margin-left: 5px;
  color: white;
  display: inline;
}

.Nav_list {
  margin-left: 60%;
}

.Nav_list li {
  display: inline-block;
}

.navLink {
  padding-left: 20px;
  color: white;
  font-size: 14pt;
  text-decoration: none;
  padding: 10px;
  /* background-color: black; */
}

.navLink:hover {
  font-weight: 700;
}

.navLinkIsActive {
  padding-left: 20px;
  color: white;
  font-size: 14pt;
  text-decoration: none;
  padding: 10px;
  border-radius: 10%;
  background-color: rgb(54, 54, 54);
}
